 body{
            margin:0;
        }
        .danh-sach-muc{
            padding :0;
            margin:0;
            list-style: none;
            display: flex;
            /* gap khoảng cách csacs đối tượng bên trong */
            gap: 20px;

        }
        .danh-muc{
            background-color: #198cf0;
            padding: 15px;
        }
        .lien-ket{
            color: white;
            /* bỏ đi gạch chân  */
            text-decoration: none;
        }
        main{
            display: flex;
        }
        .trai{
            width: 20%;
            height: auto;
            border-right: 2px solid #198cf0 ;
        }
        .phai{
            width: 80%;
         
            height: auto ;
        }
        .khoi-dang-nhap{
           display: flex;
           justify-content: center;
            width: 100%;
            height: 100px;
             /* margin: 10px auto; */
        }
        form{
            
            width: 80%;
            height: 10px auto;
        }
        .khoi{
            width: 100%;
            margin-bottom: 10px;

        }
        p{
            margin: 0;
        }
        .quen-mk{
            display: flex;
            justify-content: flex-end;
        }
        .quen-mk-lk{
            color:#198cf0;
            
            display: flex;
            justify-content: flex-end;
        }
        button{
            width: 100%;
            text-decoration: none;
            padding: 5px 0;
            border-radius: 5px;
        }
        input{
            width: 100%;
            padding: 5px 0;
        }
       
        .login{
            margin-bottom: 10px;
            color: white;
        }
         #microsoft{
            background-color: #0078D4;
        }
        .tin{
            width: 95%;
            height:100px auto;
            margin:20px auto;
            border: 1px solid #198cf0;
            border-radius: 10px;
        }

        .chuc-nang{
            width: 95%;
            margin:10px auto;
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #198cf0;
        }
        .lk-xem-tiep{
            color:#198cf0;
            text-decoration: none;
            font-weight: bold;
        }
        .danh-sach-bai{
            display: flex;
            justify-content: space-around;
            
        }
        .chi-tiet-bai{
            width :23%;
            /* border-radius: 10px; */
        }
        .anh-bai{
            width: 100%;
            border-radius: 10px;
            height: 20vh;
            object-fit: cover;
        }
        .ngay-dang{
         text-align: right;
        font-size: 12px;
        }

        .ds-tbao {
             width: 46%;
            display: flex;
             flex-direction: column;
            gap: 8px;
        }
        .muc-tb {
        display: flex;
        justify-content: space-between;

        }

        .dong-tb {
         margin: 0;
        font-size: 12px;
         flex: 1;
        padding-right: 10px;
        }
        .anh-qr{
            width: 20;
            height: 20;
        }



